<app-menu-principal></app-menu-principal>
<div class="container" id="texto-colors">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Editar Categoria ({{categoria.nome}})</h1>
        </div>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-md-6">


            <div class="form-group">
                <label for="nome">Nome da Categoria</label>
                <input [(ngModel)]="categoria.nome" (keyup)='validaCategoria($event)' name="nome" type="text" class="form-control" id="nome"
                    placeholder="Informe o nome da categoria">
            </div>

            <div class="form-group">
                <label for="descricao">Descrição da Categoria</label>
                <input [(ngModel)]="categoria.descricao" (keyup)='validaDescricao($event)' name="descricao" type="text" class="form-control"
                    id="descricao" placeholder="Informe a descrição da categoria">
            </div>

            <div class="form-group">
                <label for="icone">Icone da Categoria</label>
                <input [(ngModel)]="categoria.icone" (keyup)='validaIcone($event)' name="icone" type="text" class="form-control" id="icone"
                    placeholder="Ex: fas fa-book">
            </div>

            <div class="d-flex justify-content-center">
                <a routerLink='/categorias' class="btn-laranja btn-grande mr-3 px-4">Voltar</a>
                <a (click)='atualizar()' class="btn-verde btn-grande px-4">Atualizar</a>
            </div>

        </div>
    </div>
</div>