<div class="bg-cadastrar d-flex align-items-center p-3">
    <div class="container">
        <div class="row justify-content-center">
            <form class="bg-white p-5 rounded-lg col-md-6">
                <h1 class="mb-2 text-center">Cadastro</h1>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input [(ngModel)]='usuario.nome' (keyup)='validaNome($event)' name="nome" type="text" class="form-control" id="nome"
                     placeholder="Insira seu nome" >
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input [(ngModel)]='usuario.email' (keyup)='validaEmail($event)' name="email" type="text" class="form-control" id="email"
                        placeholder="Insira seu email">
                </div>
                <div class="form-group">
                    <label for="linkFoto">Link da foto</label>
                    <input [(ngModel)]='usuario.imagemUrl' (keyup)='validaFoto($event)' name="foto" type="url" class="form-control" id="linkFoto"
                        placeholder="Insira o link da sua foto">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input (keyup)='validaSenha($event)' name="senhaConfirmacao" type="password" class="form-control"
                        id="senhaConfirmacao" placeholder="Insira sua senha">
                </div>
                <div class="form-group">
                    <label for="senhaConfirmacao">Confirmar Senha</label>
                    <input [(ngModel)]='usuario.senha' (keyup)='validaConfirmaSenha($event)' name="senha" type="password" class="form-control" id="senha"
                        placeholder="Confirme sua senha">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary px-5" (click)='cadastrar()'>Cadastrar</button>
                </div>
                <div class="mt-4 text-center">
                    <p>Já tem cadastro? <a routerLink='/entrar'>Entrar</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
