/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap'); */

.equipe-foto {
  width: 300px;
}

.equipe-nome {
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500px;
  text-align: center;
  margin-bottom: 0px;
}

.equipe-cargo {
  font-size: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500px;
  text-align: center;
  margin-top: -10px;
}

.equipe-hobbie {
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500px;
  text-align: center;
  margin-bottom: 0px;
}

.equipe-social a {
  text-decoration: none;
  font-size: 30px;
  color: #212121;
  padding: 0 5px;
}

#mensagem {
  resize: none;
  padding: 11px;
}

.titulo {
  font-size: 60px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #272b44;
}

.subtitulo {
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #272b44;
}

.texto {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #706c87;
}

.bg-verde {
  background-color: #e5f7f2;
}

.equipe-hobbie p {
  font-style: italic;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #069a92;
}

.equipe-hobbie ul li {
  list-style: none;
  padding: 0 10px;
  font-size: 35px;
}

.equipe-hobbie ul {
  margin-top: -25px;
}
.bg-cinza {
  background-color: #f4f4f4;
}
.color-texto{
  color: #069a92;
}

.container-site-cima {
  background: rgb(221,221,221);
  background: linear-gradient(0deg, rgba(221,221,221,221) 0%, rgba(255,255,255,1) 100%);
}
.container-site {
  background: rgb(221,221,221);
}

    #texto-preto {
      color: #ffffff;
    }

  .bg-texto {
     background-color: rgba(10, 10, 10, .6);
  }