<div class="bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" routerLink='/'> <img src="../../../assets/img/dhoa-logo-top.png" height="35"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto d-flex align-items-center">
                    <li class="nav-item dropdown">
                        <div class="d-flex align-items-center">
                            <img src="../../../assets/img/ninjas/lucasalves.jfif" alt="Foto do usuário"
                                class="rounded-circle img-fluid" width="50px">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lucas Alves
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" routerLink='/perfil'>Ver meu Perfil</a>
                                <a class="dropdown-item" routerLink='/minhas-postagens'>Ver minhas postagens</a>
                                <a class="dropdown-item" href="#">Sair</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>