<app-menu-principal></app-menu-principal>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center titulo-header">Fazer o bem sem olhar a quem</h1>
                    <p class="text-center texto-header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad laborum magnam ipsa vitae iste! Dolorem quibusdam, praesentium necessitatibus temporibus officia asperiores eum inventore consequatur nam officiis rerum quidem, tempore ullam!</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 d-flex justify-content-center">
                    <a href="" class="btn btn-lg btn-success mr-3">Pedir Ajuda</a>
                    <a href="" class="btn btn-lg btn-info">Oferecer Ajuda</a>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center">
            <img src="../../../../assets/img/bg-social.png" alt="Pessoas muito loucas" width="800px">
        </div>
    </div>
</div>