<app-menu-principal></app-menu-principal>
<div class="container-fluid " id="container-inicio-cima">
    <div class="row align-items-center">
        <div class="col-md">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center titulo-header">Fazer o bem sem olhar a quem</h1>
                    <p class="text-center texto-header">Viemos aqui para dar potência a sua voz, e ao seu pedido de ajuda e ao mesmo tempo dar acesso a quem possa ajudar e aos poucos contribuir com a mudança do mundo.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 d-flex justify-content-center">
                    <a data-toggle="modal" data-target="#pedirAjuda" class="btn-transparente btn-grande mr-3 px-5" id="texto-colors">Pedir Ajuda</a>
                    <a data-toggle="modal" data-target="#oferecerAjuda" class="btn-verde btn-grande px-5" id="texto">Oferecer
                        Ajuda</a>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center">
            <img src="../../../../assets/img/bg-social.png" alt="Pessoas muito loucas" width="100%">        </div>
    </div>
</div>

<div class="container-fluid " id="container-inicio">
    <div class="row justify-content-center">
        <div class="col-md-3 mr-3">
            <!-- filtros -->
            <div class="row">
                <div class="col-md p-4">
                    <div class="row">
                        <div class="col-md">
                            <h5 id="texto-colors" >Filtros</h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- tipo postagem -->
                        <div class="col-md" id="texto-colors" >
                            <a (click)='filtrarPostagens()' id="todasPostagens" class="btn-transparente btn-grande d-block my-2">Ver todas as publicações</a>
                            <p class="m-0">Tipo de Publicação</p>
                            <a (click)="filtrarTipo('pedindo')" id="pedindo" class="btn-transparente btn-grande d-block my-2">Pedindo ajuda</a>
                            <a (click)="filtrarTipo('oferecendo')" id="oferecendo" class="btn-transparente btn-grande d-block my-2">Oferecendo ajuda</a>
                        </div>
                    </div><!-- /tipo postagem -->

                    <!-- temas/categorias -->
                    <div class="row">
                        <div class="col-md" id="texto-colors">
                            <p class="m-0">Categorias</p>
                            <div *ngFor="let categoria of categorias">
                                <a (click)='filtrarCategoria(categoria.id, categoria.nome)' id="{{categoria.nome}}" class="btn-transparente btn-grande d-block my-2 btn-filtro">{{categoria.nome}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- /temas/categorias -->
                </div>
            </div>
        </div>
        <!-- /filtros -->

        <!-- itens do feed -->
        <div class="col-md-6 " id="texto-colors" >
            <div  *ngFor='let postagem of postagens | orderBy : key : reverse' class="bg-light row p-2 mb-3 item-feed color-feed">
                <!-- item do feed -->
                <div class="col-md py-2">
                    <div class="row mb-3">
                        <!-- foto usuario e título -->
                        <div class="col-md d-flex align-items-center">
                            <img class="rounded-circle" src="{{postagem.usuario.imagemUrl}}"
                                alt="{{postagem.usuario.nome}}" width="50px" height="50px">
                            <p class="px-2 m-0 text-secondary"><span style="color: #212121;">{{postagem.usuario.nome}}</span> - Está <span class="cap">{{postagem.tipoPostagem}}</span> Ajuda <br> {{postagem.dataPostagem | dateAgo}} <i class="far fa-clock"></i>
                        </div>
                    </div><!-- /foto usuario e título -->
                    <hr style="height:0.5px;border-width:0;color:gray;background-color:rgb(236, 225, 225)">
                    <div class="row">
                        <!-- texto -->
                        <div class="col-md">
                            <p>{{postagem.texto}}</p>
                        </div>
                    </div><!-- /texto -->
                    <div class="row">
                        <!-- foto publicação -->
                        <div class="col-md" *ngIf="verificaImagem(postagem.imagemUrl)">
                            <img src="{{postagem.imagemUrl}}" width="100%">
                        </div>
                    </div><!-- /foto publicação -->
                    <hr style="height:0.5px;border-width:0;color:gray;background-color:rgb(236, 225, 225)">
                    <div class="row pt-2">
                        <div class="col-md d-flex justify-content-between align-items-center">
                            <p class="m-0"><span class='cap'>{{postagem.tipoPostagem}} {{postagem.categoria.nome}} <i class="{{postagem.categoria.icone}}"></i></span></p>
                            <a class="btn-verde btn-grande px-5" href="mailto:{{postagem.contatoUrl}}">Entrar em contato</a>
                        </div>
                    </div>
                </div>
            </div><!-- /item do feed -->
        </div>
    </div>
</div>

<!-- Modal Pedir Ajuda -->
<div class="modal fade" id="pedirAjuda" tabindex="-1" aria-labelledby="pedirAjudaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="texto-colors" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pedirAjudaLabel">Fazer nova publicação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tipoPostagem">Oferecendo ou Pedindo Ajuda</label>
                    <select id="tipoPostagem" class="form-control" name="tipoPostagem">
                        <option value="oferecendo">Oferecendo Ajuda</option>
                        <option value="pedindo" selected>Pedindo Ajuda</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="texto">Descrição</label>
                    <textarea [(ngModel)]="postagem.texto" class="form-control" id="texto"
                        placeholder="Descreva seu pedido ou oferta"></textarea>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select [(ngModel)]="idCategoria" (change)="getCategoria()" class="form-control" name="categoria">
                        <option *ngFor="let item of categorias" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="imagemUrl">Imagem</label>
                    <input [(ngModel)]="postagem.imagemUrl" class="form-control" type="text" name="imagemUrl" id="imagemUrl"
                        placeholder="Informe a URL da Foto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-laranja" data-dismiss="modal">Cancelar</button>
                <button (click)="publicar()" type="button" class="btn-verde" data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Oferecendo Ajuda -->
<div class="modal fade" id="oferecerAjuda" tabindex="-1" aria-labelledby="oferecerAjudaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="texto-colors" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oferecerAjudaLabel">Fazer nova publicação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tipoPostagem">Oferecendo ou Pedindo Ajuda</label>
                    <select class="form-control" name="tipoPostagem">
                        <option value="oferecendo" selected>Oferecendo Ajuda</option>
                        <option value="pedindo">Pedindo Ajuda</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="texto">Descrição</label>
                    <textarea [(ngModel)]="postagem.texto" class="form-control" id="texto"
                        placeholder="Descreva seu pedido ou oferta"></textarea>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select [(ngModel)]="idCategoria" (change)="getCategoria()" class="form-control" name="categoria">
                        <option *ngFor="let item of categorias" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="imagemUrl">Imagem</label>
                    <input [(ngModel)]="postagem.imagemUrl" class="form-control" type="text" name="imagemUrl" id="imagemUrl"
                        placeholder="Informe a URL da Foto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-laranja" data-dismiss="modal">Cancelar</button>
                <button (click)="publicar()" type="button" class="btn-verde" data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>
<app-rodape></app-rodape>

