<app-menu-principal></app-menu-principal>
<div class="container" id="texto">
    <div class="row my-3">
        <div class="col-md">
            <h1 class="text-center">Editar minhas postagens</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <!-- itens do feed -->
            <div class="col-md-6">
                <div class="row shadow p-2 mb-3" *ngFor='let postagem of usuario.postagens | orderBy : key : reverse'>
                    <!-- item do feed -->
                    <div class="col-md">
                        <div class="row mb-3">
                            <!-- foto usuario e título -->
                            <div class="col-md d-flex align-items-center">
                                <img class="rounded-circle" src="{{postagem.usuario.imagemUrl}}"
                                    alt="{{postagem.usuario.nome}}" width="50px" height="50px">
                                <p class="px-2 m-0">{{postagem.usuario.nome}} - Está <span
                                        class="cap">{{postagem.tipoPostagem}}</span> Ajuda <br> {{postagem.dataPostagem
                                    | dateAgo}} <i class="far fa-clock"></i>
                            </div>
                        </div><!-- /foto usuario e título -->
                        <div class="row">
                            <!-- texto -->
                            <div class="col-md">
                                <p>{{postagem.texto}}</p>
                            </div>
                        </div><!-- /texto -->
                        <div class="row">
                            <!-- foto publicação -->
                            <div class="col-md">
                                <img src="{{postagem.imagemUrl}}"
                                    alt="{{postagem.usuario.nome}}-Está <span class='cap'>{{postagem.tipoPostagem}}</span> ajuda"
                                    width="100%">
                            </div>
                        </div><!-- /foto publicação -->
                        <div class="row pt-2">
                            <div class="col-md d-flex justify-content-end align-items-center">
                                <a class="btn-laranja btn-grande mr-3 px-4" [routerLink]="['/postagem/editar/',postagem.id]">Editar </a>
                                <a class="btn-verde btn-grande px-4" (click)='apagarMinhaPostagem(postagem.id)'>Apagar</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /item do feed -->
            </div>
        </div>
    </div>

    <!-- Modal Editar Postagem -->

</div>
    <app-rodape></app-rodape>