<footer class="footer py-3 bg-light">
  <div class="container text-muted">
    <div class="row">
      <div class="col-md py-3">
        <p class="text-center m-0">Nos siga nas redes sociais:</p>
        <div class="d-flex justify-content-center">
          <a href="#" class="social-rodape">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#" class="social-rodape">
            <i class="fab fa-instagram-square"></i>
          </a>
          <a href="#" class="social-rodape">
            <i class="fab fa-twitter-square"></i>
          </a>
        </div>
        <p class="text-center mt-3">Nós acreditamos no poder da solidariedade.</p>
      </div>
    </div>
    <hr style="height:0.5px;border-width:0;color:gray;background-color:rgb(236, 225, 225)">
    <div class="row">
      <div class="col-md d-flex justify-content-between">
        <span class="text-muted">
          &copy; 2021 Dhoa. Todos os direitos reservados.
        </span>
        <span>
          Desenvolvido com <i class="fas fa-heart" style="color: red"></i> por 
          <a href="https://github.com/HARDTECHIO" target="_blank" class="hardtech">
            HARDTECH
          </a>.
        </span>
      </div>
    </div>
  </div>
</footer>